/* Write some CSS below */

body {
	font-family: 'Lato', sans-serif;
	padding: 10px 10px;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	color: #eb751d;
	text-decoration: none;
}

/*h2 {
  font-size: 30px;
  color: #eb751d;
  text-align: center;
}*/

h3 {
  font-size: 20px;
  color: #eb751d;
  font-weight: bold;
  text-align: center;
}

p {
  color: #404042;
  opacity: .7;
  padding: 10px;
}

.container {
  width: 900px;
  margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1587556930720-58ec521056a5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
}

.banner h1 {
  color: #eb751d;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #eb751d;
  color: white;
  padding: 10px 20px;
  border-radius: 24px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: rgb(252,209,99);
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    max-width: 650px;
  }
}

@media (max-width: 650px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .container {
    max-width: 400px;
  }
}

.footer {
  background: #eb751d;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}